.nav {
  display: flex;
  &__list {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
  }
  &__item {

  }
  &__link {
    justify-content: center;
    align-items: center;
    display:flex;
    height:100%;
    box-sizing: border-box;
    padding:20px;
    color: $secondary;
    &:hover {
      border-bottom: 5px $secondary solid;
    }
  }
}
